@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    margin: 0;
}

.nav-link {
    @apply text-base !important;

    /* md in tailwind */
    @media (min-width: 768px) {
        padding: 0.75em !important;
        margin: -0.75em !important;
    }
}

.nav-link:hover {
    @apply bg-teal-700/10 !important;
    @apply md:bg-transparent !important;
}

#navbar-toggle {
    @apply border border-transparent text-teal-700 transition-[color,background-color,border-color,text-decoration-color,fill,stroke,box-shadow] focus:outline-none focus:ring-2 focus:ring-cyan-300 enabled:hover:bg-cyan-800;
}

#navbar-toggle:hover {
    @apply bg-teal-700/10 !important;
}

*:focus-visible {
    @apply rounded outline-none outline-cyan-500;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@media only screen and (min-width: 500px) {
    .board {
        outline-style: solid;
    }
}
