@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    margin: 0;
}

.navbar-border {
    border-image-source: linear-gradient(
        to left,
        rgba(14, 116, 144, 0.075),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(14, 116, 144, 0.075)
    );

    /* md in tailwind */
    @media (min-width: 768px) {
        border-image-source: linear-gradient(
            to left,
            rgba(14, 116, 144, 0.075),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(14, 116, 144, 0.075)
        );
    }

    border-style: solid;
    border-image-slice: 1;
    border-right: 0;
    border-top: 0;
    border-left: 0;

    @apply border-b-2;
}

.nav-link {
    /* md in tailwind */
    @media (min-width: 768px) {
        padding: 0.75em !important;
        margin: -0.75em !important;
    }
}

*:focus-visible {
    @apply rounded outline-none outline-cyan-500;
}

@keyframes failure-toast-flash {
    0% {
        @apply bg-white;
    }
    50% {
        @apply bg-red-300;
    }
    100% {
        @apply bg-white;
    }
}

.failure-toast-flash {
    animation: failure-toast-flash 1.5s ease-in-out forwards;
}

@keyframes success-toast-flash {
    0% {
        @apply bg-white;
    }
    50% {
        @apply bg-green-300;
    }
    100% {
        @apply bg-white;
    }
}

.success-toast-flash {
    animation: success-toast-flash 1s ease-in-out forwards;
}
